h1{color: crimson; text-align: center;}
p{color: rgb(26, 192, 238); font-size: 18px; text-align: center;}
ul{list-style: none; padding: 0; text-align: center;}
li{display: inline-block; margin: 10px; padding: 10px 20px; 
    background-color: whitesmoke; border-radius: 8px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
    